*{
    background: #F3F3F5FC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 18px;
}

main{
    display: flex;
    margin: 30px;
}

.logo{
    position: absolute;
    margin-top: auto;
    width: 10%;
}

.text-area{
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    padding: 10px;
    resize: none;
    border: none;
    color: darkblue;
    text-transform: lowercase;
}

::placeholder {color: darkblue; }
    .text-area:focus{
        outline: none;
    }

.muneco{
    position: absolute;
    width: 380px;
    height: 400px;
    margin-left: 800px;
    margin-top: 120px;
    background: none;
}

.mensaje-encriptado{
    position: absolute;
    padding: 20px 20px 20px 20px;
    width:350px;
    height: 650px;
    margin-left: 800px;
    margin-bottom: auto;
    background: #FFFFFF;
    border: none;
    border-radius: 14px;
    resize: none;
    box-shadow: 2px 2px 2px darkgrey;
    color: darkblue;
}

.mensaje-encriptado:focus{
    outline: none;
    color: darkblue;
}

.btn-copiar{
    width: 200px;
    height: 50px;
}

.copiar{
    position: relative;
    flex-direction: row;
    padding: 10px auto;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border-color: gray;
    margin-top: 600px;
    margin-left: 275px;
    margin-bottom: 90px;
}

.información{
    position: absolute;
    padding: 0px;
    gap: 8px;
    width: 400px;
    height: 10px;
    left: 230px;
    top: 600px;
    font-size: 90%;
    border-style:inset;
}
.exclamacion{
    width: 15px;
    height: 15px;

}

.botones{
    margin-left: 200px;
    margin-top: 600px;
    width: 420px;
}

.btn-encriptar{
    flex-direction: row;
    padding: 10px auto;
    gap: 8px;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border-color: gray;
}

.btn-desencriptar{
    flex-direction: row;
    align-items: flex-start;
    padding: 10px auto;
    gap: 8px;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border-color: gray;
    text-align: center;
}

.copy{
    display: flex;
    margin-top: 3em;
    margin-left: 20em;
    font-family: 'Poppins', sans-serif;
}

/**Desktop Query*/
@media only screen and (min-width: 768px) {
    .desktop {
      display: block;
    }
    .mobile, .tablet {
      display: none;
    }
  }
  
  /*Tablet Query*/
  @media only screen and (min-width: 481px) and (max-width:768px) {
    .tablet {
      display: block;
    }
    .mobile, .desktop {
      display: none;
    }
    .logo{
        width: 20%;
    }

    .text-area{
        width: 68%;
        margin-top: 8em;
        margin-left: 4em;
        size: 2em;
    }
    .botones{
        row-gap: 0.5em;
        margin-left: 8.3em;
        width:auto;

    }
    .información, .exclamacion{
        margin-left: -1.5em;
        width:max-content;
    }

    .mensaje-encriptado, .muneco{
        margin-left: auto;
        margin-top: 42em;
        width: 37em;
        height: 18em;
    }

    .muneco{
        display: none;
    }

    .btn-copiar{
        margin-left: -2em;
        margin-top: 25em;
        position: absolute;
    }
    .copy{
        margin-top: 33em;
        margin-left: 17em;
        margin-bottom: 1em;
        width: fit-content;
    }
    
  }
  
  /*Mobile Query*/
  @media only screen and (max-width:480px) {
    .mobile {
      display: block;
    }
    .desktop, .tablet {
      display: none;
    }

    .logo{
        width: 25%;
    }

    .text-area{
        width: 80%;
        margin-left: 0.5em;
        size: 2em;
    }
    .botones{
        display: grid;
        row-gap: 0.5em;
        margin-left: 5em;
        width: 5em;

    }
    .información, .exclamacion{
        margin-left: -4em;
    }

    .mensaje-encriptado{
        margin-left: 0.5em;
        margin-top: 42em;
        width: 20em;
        height: 15em;
    }
    .muneco{
        display: none;
    }
    
    .btn-copiar{
        margin-left: -10em;
        margin-top: 22em;
        position: absolute;
    }
    .copy{
        margin-top: 25em;
        margin-left: 8em;
        width: fit-content;
    }
  }