*{
    background: #F3F3F5FC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 18px;
}

main{
    display: flex;
    margin: 30px;
}

.logo{
    position: absolute;
    margin-top: auto;
    width: 10%;
}

.text-area{
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    padding: 10px;
    resize: none;
    border: none;
    color: darkblue;
    text-transform: lowercase;
}

::placeholder {color: darkblue; }
    .text-area:focus{
        outline: none;
    }

.muneco{
    position: absolute;
    width: 380px;
    height: 400px;
    margin-left: 800px;
    margin-top: 120px;
    background: none;
}

.mensaje-encriptado{
    position: absolute;
    padding: 20px 20px 20px 20px;
    width:350px;
    height: 650px;
    margin-left: 800px;
    margin-bottom: auto;
    background: #FFFFFF;
    border: none;
    border-radius: 14px;
    resize: none;
    box-shadow: 2px 2px 2px darkgrey;
    color: darkblue;
}

.mensaje-encriptado:focus{
    outline: none;
    color: darkblue;
}

.btn-copiar{
    width: 200px;
    height: 50px;
}

.copiar{
    position: relative;
    flex-direction: row;
    padding: 10px auto;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border-color: gray;
    margin-top: 600px;
    margin-left: 275px;
    margin-bottom: 90px;
}

.información{
    position: absolute;
    padding: 0px;
    gap: 8px;
    width: 400px;
    height: 10px;
    left: 230px;
    top: 600px;
    font-size: 90%;
    border-style:inset;
}
.exclamacion{
    width: 15px;
    height: 15px;

}

.botones{
    margin-left: 200px;
    margin-top: 600px;
    width: 420px;
}

.btn-encriptar{
    flex-direction: row;
    padding: 10px auto;
    gap: 8px;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border-color: gray;
}

.btn-desencriptar{
    flex-direction: row;
    align-items: flex-start;
    padding: 10px auto;
    gap: 8px;
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border-color: gray;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .logo{
        width: auto;
    }
    .botones{
        margin-left: 33%;
        margin-top: 870px;
        width: 5%; 
        align-items: center;
        display: flex; 

    }
    .btn-encriptar, .btn-desencriptar{
        font-size: 80%;
        margin: 30%;
        height: 50px;
        width: 200px;
        flex-direction: row;
        align-items: flex-start;

    }
    .información{
        margin-top: 750px;
        margin-left: -265px;
    }

    .text-area{
        width: 70%;
        height: fit-content;
        margin-left: auto;
        size: 40%;
    
    }
    
}
